.home-screen img{
  margin: 102px auto 69px auto;
}
.page-cover{
  padding: 15px;
}
.content-para {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    max-width: 349px;
    margin: 49px auto;
}